<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Mvc</title>

    <link rel="stylesheet" href="/aMvc/lib/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/aMvc/lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="/aMvc/lib/summernote-0.8.18-dist/summernote-lite.min.css">
    <link rel="stylesheet" href="/aMvc/lib/css/da-style.css?s=31">

    <script src="/aMvc/lib/jquery/jquery-2.1.2.min.js"></script>
    <script src="/aMvc/lib/jquery/jquery-ui.min.js"></script>
    <script src="/aMvc/lib/bootstrap/bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/aMvc/lib/bootstrap/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <script src="/aMvc/lib/summernote-0.8.18-dist/summernote-lite.min.js"></script>

    <script src="/aMvc/lib/js/da-globallib.js?5"></script>

    <script src="/aMvc/base/boardAjaxBase.js?10"></script>
    <script src="/aMvc/base/viewLibBase.js?3"></script>
    <script src="/aMvc/base/templateBase.js?89"></script>

    <script type="text/javascript">
        document.title = '마피아게임';
        var _dbpath = "daboard.dadb", _code = "da_board", _kcode, _kname;

        $(document).ready(function () {
            var elem = document.getElementById('mafiagame');
            var config = {
                type: 'boardlist', dbpath: _dbpath,
                code: _code,
                brdid: 3,
                renderview: 'BoardView',
                viewbody: 'MafiaGameTemp',
                rendertype: 'selectlist_h' //timeline
            }
            var c = new BoardController(config);

            c.renderController(elem);
        });


    </script>
</head>
<body>
    <da include="/html/module/navbarIndex.html"></da>
    <div id="mafiagame"></div>
    <da include="/html/module/footer.html"></da>
</body>
</html>